<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CDProject</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>
  
  <servlet>
    <servlet-name>WebController</servlet-name>
    <servlet-class>controller.WebController</servlet-class>
  </servlet>


  <servlet-mapping>
    <servlet-name>WebController</servlet-name>
    <url-pattern>/WebController</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>MailController</servlet-name>
    <servlet-class>controller.MailController</servlet-class>
  </servlet>
  <servlet-mapping>
        <servlet-name>MailController</servlet-name>
        <url-pattern>/sendMail</url-pattern>
    </servlet-mapping>
  <listener>
    <listener-class>entity.MyServletContextListener</listener-class>
</listener>
</web-app>